/*
 * CSS Styles for Application
 *
 */

/* 
 *   START - general setup
 *
 */

:root {
    /* START brand-specific */
    --clr-primary: 216, 57%, 30%;
    --clr-secondary: 0, 0%, 10%;
    --clr-right: 144, 57%, 30%;
    --clr-right-light: 144, 57%, 48%;
    --clr-wrong: 0, 57%, 50%;
    --clr-wrong-light: 0, 57%, 64%;
    --clr-neutral-bgr: 0, 0%, 94%;
    --clr-neutral-txt: 0, 0%, 50%;

    --ff-primary: -apple-system;
    --ff-fallback: BlinkMacSystemFont;
    /* START brand-specific */

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-small: 0.875rem;
    --fs-medium: 1rem;
    --fs-big: 1.5rem;
    --fs-huge: 2.5rem;

    --size-100: 0.25rem;
    --size-200: 0.5rem;
    --size-400: 1rem;
    --size-600: 2rem;
    --size-800: 3rem;
}

@media (min-width: 35em) {
    :root {
        --fs-big: 2rem;
        --fs-huge: 3.5rem;
        --fs-medium: 1.125rem;
    }
}

@media (min-width: 45em) {
    :root {
        --fs-big: 2.5rem;
        --fs-huge: 4.5rem;
        --fs-medium: 1.25rem;
        --fs-small: 1rem;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    color: hsl(var(--clr-secondary));
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin-inline: auto;
    font-family: var(--ff-primary), var(--ff-fallback), sans-serif;
    font-size: var(--fs-medium);
    width: min(650px, 100% - (var(--fs-medium) * 2));
}

p,
li {
    max-width: 60ch;
    margin-inline: auto;
}


ul {
    list-style-type: none;
}

a,
button {
    cursor: pointer;
}

.external-link {
    color: hsl(var(--clr-primary));
}

input,
select,
option {
    width: 100%;
}

*:read-only::placeholder {
    /* Firefox */
    opacity: 1;
}

/* Hidden element, but accessible for assistive technologies */
.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}


/* 
 *   END - general setup
 *
 */


/* 
 *   START - common components
 *
 */

form label {
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-small);
    display: inline-block;
    margin-top: var(--fs-medium);
}

form input,
form fieldset {
    padding: calc(var(--fs-small) / 3);
}

form fieldset {
    font-size: var(--fs-small);
    margin-top: var(--fs-medium);
}

form fieldset label {
    display: inline;
    margin-left: var(--fs-small)
}

form fieldset input {
    display: inline;
    width: fit-content;
}

button[type="submit"],
button[type="button"] {
    display: block;
    margin: auto;
    padding: calc(var(--fs-small) / 3) var(--fs-big);
    color: hsl(var(--clr-neutral-bgr));
    font-weight: var(--fw-semi-bold);
    text-transform: uppercase;
    margin-top: var(--fs-medium);
    font-size: var(--fs-small);
}

button[type="submit"] {
    background-color: hsl(var(--clr-primary));
}

button[type="button"] {
    background-color: hsl(var(--clr-wrong));
}

button[type="button"] a {
    color: hsl(var(--clr-neutral-bgr));
    text-decoration: none;
}

.formError {
    display: none;
}

.formSuccess {
    display: none;
}

hr {
    color: hsl(var(--clr-neutral-bgr));
    margin: var(--fs-big);
    /* not sure it works */
    padding-inline: var(--fs-big);
    max-width: 80ch;
    margin-inline: auto;
}

.info-msg {
    font-size: var(--fs-small);
    font-style: italic;
    color: hsl(var(--clr-neutral-txt));
    max-width: 100%;
}

/* 
 *   END - common components
 *
 */


/*
 *  START - header and footer of the website
 *
 */



#website-navigation {
    font-weight: var(--fw-bold);
    font-size: var(--fs-medium);
}

#website-navigation nav {
    display: flex;
    align-items: center;
    column-gap: var(--fs-big);
}

#website-navigation nav a {
    text-decoration: none;
}

#website-navigation nav a.loggedIn {
    display: none;
}

body.loggedIn #website-navigation nav a.loggedIn {
    display: inline-block;
}

body.loggedIn #website-navigation nav a.loggedOut {
    display: none;
}

#website-footer {
    width: 100%;
    padding: var(--fs-huge);
}

#website-footer nav {
    display: flex;
    justify-content: center;
    column-gap: var(--fs-medium);
}

#website-footer nav a {
    font-size: var(--fs-small);
}

/*
 *  END - header and footer of the website
 *
 */


/* 
 *  START - Index 
 *
 */

#index h1 {
    font-size: var(--fs-huge);
}

#index h1 span {
    color: hsl(var(--clr-primary));
}

#index>p {
    margin-inline: auto;
    text-align: center;
}

/* 
 *  END - Index 
 *
 */


/* 
 * START - checks dashboard
 *
 */

table {
    width: 100%;
    margin-top: var(--fs-medium);
    margin-bottom: calc(var(--fs-medium) / 2);
}

tr {
    width: 100%;
}

th {
    font-weight: var(--fw-bold);
    border-color: hsl(var(--clr-secondary));
    padding: calc(var(--fs-small) / 2) var(--fs-small);
    background-color: hsl(var(--clr-neutral-bgr));
}

td {
    padding: calc(var(--fs-small)) var(--fs-small);
}

td a,
td a:hover,
td a:active {
    color: hsl(var(--clr-primary));
    font-weight: var(--fw-semi-bold);
    text-decoration: underline;
    cursor: pointer;
}

.loader {
    border: var(--fs-small) solid hsl(var(--clr-neutral-bgr));
    border-radius: 50%;
    width: var(--fs-big);
    height: var(--fs-big);
    margin-inline: auto;
}

.animated-loader {
    animation: spin 2s linear infinite;
}

.loader.up {
    border-top: var(--fs-small) solid hsl(var(--clr-right));
}

.loader.down {
    border-top: var(--fs-small) solid hsl(var(--clr-wrong));
}

.loader.unknown {
    border-top: var(--fs-small) solid hsl(var(--clr-neutral-txt));
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#no-checks-msg td {
    text-align: center;
    font-style: italic;
    font-size: var(--fs-medium);
}

#no-checks-msg {
    display: none;
}

#create-check-wrapper {
    display: none;
    text-align: center;
    margin-bottom: var(--fs-medium);
}

#create-check-wrapper>* {
    margin-inline: auto;
}

#create-check-wrapper>div {
    border: 2px solid red;
    width: calc(var(--fs-big) / 3 * 4);
    height: calc(var(--fs-big) / 3 * 4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 4px solid hsl(var(--clr-right-light));
}

#create-check-wrapper a {
    text-decoration: none;
    font-weight: var(--fw-bold);
    color: hsl(var(--clr-right));
    font-size: var(--fs-big);
}

#create-check-wrapper p {
    font-size: var(--fs-small);
    font-style: italic;
    color: hsl(var(--clr-neutral-txt));
}

#states-legend {
    background-color: hsl(var(--clr-neutral-bgr));
    border-radius: 10px;
    padding: var(--fs-medium);
}

#states-legend h3 {
    font-weight: var(--fw-semi-bold);
    padding-bottom: calc(var(--fs-small) / 2);
}

dl>div {
    display: flex;
    width: fit-content;
    column-gap: var(--fs-medium);
    margin-top: var(--fs-small);
}

/* 
 *  END - checks dashboard
 *
 */


/* 
 *  START - check_delete
 *
 */

#checksDelete button {
    background-color: hsl(var(--clr-primary));
}

/* 
 *  END - check_delete
 *
 */

#session-deleted {
    text-align: center;
}

#session-deleted h1 {
    font-size: var(--fs-big);
}