<h1>create your account</h1>
<form id="accountCreate" action="/api/users" method="POST">
    <div class="formError"></div>
    <div class="formSuccess"></div>

    <label for="nickname-input">name</label>
    <input id="nickname-input" type="text" name="name" placeholder="Smith" required />

    <label for="phone-input">phone number</label>
    <input id="phone-input" type="text" name="phone" placeholder="(415) 123-4567" required />

    <button type="submit" class="cta green">Get Started</button>
</form>