<h1 class="visually-hidden">dashboard</h1>

<table id="checks-list-table">
    <tr>
        <th>Method</th>
        <th>Protocol</th>
        <th>URL</th>
        <th>State</th>
        <th>Details</th>
    </tr>
    <tr id="no-checks-msg">
        <td colspan="5">you have no checks</td>
    </tr>

</table>

<div id="create-check-wrapper">
    <a href="checks/create">[ + ]</a>
    <p class="info-msg">( you may create up to 5 checks )</p>
</div>

<article id="states-legend">
    <h3>possible states</h3>
    <dl>
        <div>
            <dt class="loader up"></dt>
            <dd>up</dd><br />
        </div>

        <div>
            <dt class="loader down"></dt>
            <dd>down</dd><br />
        </div>

        <div>
            <dt class="loader unknown"></dt>
            <dd>unknown</dd><br />
        </div>
    </dl>
</article>