<h1 class="visually-hidden">create check</h1>
<form id="checkCreate" action="api/checks" method="POST">
    <div class="formError"></div>
    <label for="protocol-input">protocol</label>
    <input id="protocol-input" type="text" readonly placeholder="https">

    <label for="url-input">domain name</label></br>
    <input id="url-input" type="text" name="url" placeholder="mywebsite.com/my/path" required />

    <fieldset class="test">
        <legend>success codes (HTTP codes for the "up" state)</legend>
        <label for="200">200</label>
        <input type="checkbox" id="200" class="multiselect intval" name="successCodes" value="200">

        <label for="201">201</label>
        <input type="checkbox" id="201" class="multiselect intval" name="successCodes" value="201">

        <label for="203">203</label>
        <input type="checkbox" id="203" class="multiselect intval" name="successCodes" value="203">

        <label for="204">204</label>
        <input type="checkbox" id="204" class="multiselect intval" name="successCodes" value="204">

        <label for="301">301</label>
        <input type="checkbox" id="301" class="multiselect intval" name="successCodes" value="301">

        <label for="302">302</label>
        <input type="checkbox" id="302" class="multiselect intval" name="successCodes" value="302">

        <label for="304">304</label>
        <input type="checkbox" id="304" class="multiselect intval" name="successCodes" value="304">
    </fieldset>
    <p class="info-msg">for reference see:
        <a class="external-link"
            href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status">https://developer.mozilla.org/en-US/docs/Web/HTTP/Status</a>
    </p>

    <fieldset>
        <legend>HTTP request method</legend>

        <label for="GET" selected>GET</label>
        <input type="radio" name="http-method" value="GET" />
    </fieldset>

    <p class="info-msg">for reference see:
        <a class="external-link" href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods
            ">https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods</a>
    </p>

    <button type="submit">start monitoring</button>
</form>